<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Translation App</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-3">Upload an image to translate text</h1>
        <form action="/" method="POST" enctype="multipart/form-data" class="mb-3">
            <div class="custom-file mb-3">
                <input type="file" name="image_file" class="custom-file-input" id="imageFile">
                <label class="custom-file-label" for="imageFile">Choose file</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

        {% if detected_text %}
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Original Text:</h4>
                <p>{{ detected_text }}</p>
            </div>
        {% endif %}

        {% if translated_text %}
            <div class="alert alert-success" role="alert">
                <h3 class="alert-heading">Detected Language: <span class="badge badge-secondary">{{ detected_lang }}</span></h3>
                <p>{{ translated_text }}</p>
            </div>
        {% endif %}
    </div>

    <!-- Include Bootstrap JS and its dependencies from CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // JavaScript for Bootstrap components
        $('.custom-file-input').on('change', function() {
            var fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Disclaimer</h4>
        <p>This application uses Google Cloud Translate and Google Vision and may not provide a 100% accurate translation.</p>
    </div>
</body>
</html>
